@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.kumbh-sans {
  font-family: "Kumbh Sans", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "YOPQ" 300;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
}
.select-none {
  -webkit-user-select: none;
}
@media (max-width: 768px) {
  .scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.stdropdown-container {
  height: 40px;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity));
  font-size: 14px;
  --tw-shadow: 0px 2px 3px -1px rgba(0, 0, 0, 0.1),
    0px 1px 0px 0px rgba(25, 28, 33, 0.02),
    0px 0px 0px 1px rgba(25, 28, 33, 0.08);
  --tw-shadow-colored: 0px 2px 3px -1px var(--tw-shadow-color),
    0px 1px 0px 0px var(--tw-shadow-color),
    0px 0px 0px 1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  text-align: left;
  /* border: 1px solid #ccc; */
  position: relative;
  border-radius: 5px;
  /* font-family: "Twemoji Mozilla" !important; */
}
.stdropdown-menu::-webkit-scrollbar {
  width: 2px;
}

.stdropdown-menu::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.stdropdown-menu::-webkit-scrollbar-thumb {
  background: #888;
}

.stdropdown-menu::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.stdropdown-input {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}

.stdropdown-menu {
  position: absolute;
  transform: translateY(4px);
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: auto;
  max-height: 150px;
  background-color: #fff;
  z-index: 99;
}

.stdropdown-item {
  padding: 5px;
  cursor: pointer;
}

.stdropdown-item:hover {
  background-color: rgba(159, 195, 248, 0.4392156863);
}

.stdropdown-item.selected {
  background-color: #0d6efd;
  color: #fff;
}

.stdropdown-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.stdropdown-tag-item {
  background-color: #ddd;
  padding: 2px 4px;
  border-radius: 2px;
  display: flex;
  align-items: center;
}

.stdropdown-tag-close {
  display: flex;
  align-items: center;
}

.stsearch-box {
  padding: 5px;
  background-color: transparent;
}

.stsearch-box input {
  outline: none;
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity));
  /* border: 1px solid #ccc;
  border-radius: 5px; */
}
